@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Inter";
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgb(32,209,209);
    background: linear-gradient(48deg, rgba(32,209,209,1) 0%, rgba(21,154,154,1) 30%, rgba(7,99,99,1) 97%);
}

.container {
    width: 600px;
    height: 450px;

    background-color: #fff;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-input, form {
    width: 350px;
    display: flex;
    flex-direction: column;
}

h1 {
    width: 100%;
    text-align: center;
    color: rgb(12, 121, 100);
    margin-bottom: 24px;
}

label, input {
    height: 40px;
    border-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;

    margin-bottom: 18px;
}

label {
    display: flex;
    justify-content: center;
}

input {
    width: 80%;
    outline: none;
}

input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

button {
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: darkcyan;
    
    font-size: 16px;
    font-weight: 600;
    color: #fff;

    margin-bottom: 64px;
}

button:hover {
    cursor: pointer;
}

button:active {
    color: #f5f5f5;
}

.resposta {
    width: 400px;
   text-align: center; 
}